@import url(reset.css);

.coin div {
	height: 20px;
}

.coin {
	margin-top: 10px;
}

.coin:first-child {
	margin-top: 0;
}

p {
	padding: 5px 0;
}

h2 {
	font-weight: bold;
}

.wrapper {
	padding-left: 10px;
	padding-top: 10px;
}

div.bitcoin {
	background-color: red;
}

div.Ethereum {
	background-color: blue;
}

div.Litecoin {
	background-color: green;
}